.dropdown{
    float:right;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-right: 30px;
    outline: none;
    cursor: pointer;
    box-shadow:2px 3px;
    border-radius:2px;
    margin-bottom: 20px;
}

@media screen and (min-width: 320px){
  .dropdown{
    margin-right:0px;
  }
}

@media screen and (min-width: 1440px){
  .dropdown{
    margin-right: 30px;
  }
}


@media screen and (min-width:1668px){
    .dropdown {
      font-size: 24px;
    }
  }